<header class="header">
    <div class="container">
        <a href="/" class="header__logo">TalentBro</a>

        <div class="menu">
            <a href="javascript:void(0)">О сервисе</a>
            <a href="javascript:void(0)">Резюме</a>
            <a href="javascript:void(0)">Услуги</a>
            <a href="javascript:void(0)">Блог</a>
            <a href="javascript:void(0)">Напишите нам</a>
        </div>

        <a href="javascript:void(0)" class="btn btn-outline">Зарегистрироваться</a>
    </div>
</header>