<header class="header">
    <div class="container">
        <a href="/" class="header__logo">TalentBro</a>

        <div class="menu">
            <div>
                <a href="resume.html">Резюме</a>

                <div class="menu__submenu">
                    <a href="constructor.html">Создать самому онлайн</a>
                    <a href="template.html">Заказать резюме</a>
                    <a href="examples.html" class="pro blue">Посмотреть примеры <span>pro</span></a>
                </div>
            </div>
            <div>
                <a href="services.html">Услуги</a>

                <div class="menu__submenu">
                    <a href="consultations.html">Оценить свой опыт</a>
                    <a href="resume.html">Резюме</a>
                    <a href="letter.html">Сопроводительное письмо</a>
                    <a href="vip.html">VIP - упаковка</a>
                    <a href="interview.html">Найти вакансии</a>
                    <a href="resume.html">Проверить свое резюме </a>
                    <a href="interview.html">Подготовиться <br> к собеседованию</a>
                </div>
            </div>
            <div>
                <a href="blog.html">Блог</a>
            </div>
        </div>

        <a href="javascript:void(0)" class="btn btn-outline">Зарегистрироваться</a>

        <div class="hamburger"><span></span></div>
    </div>
</header>

<section class="menu mobile">
    <div class="header">
        <a href="/" class="header__logo">TalentBro</a>
        <div class="menu__close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.77319 7.001L13.8396 0.934579C14.0532 0.720998 14.0532 0.374717 13.8396 0.161163C13.626 -0.0523915 13.2797 -0.0524189 13.0662 0.161163L6.99974 6.22758L0.933353 0.161163C0.719771 -0.0524189 0.373491 -0.0524189 0.159936 0.161163C-0.0536179 0.374744 -0.0536453 0.721025 0.159936 0.934579L6.22633 7.00097L0.159936 13.0674C-0.0536453 13.281 -0.0536453 13.6273 0.159936 13.8408C0.266714 13.9476 0.406686 14.001 0.546658 14.001C0.686631 14.001 0.826576 13.9476 0.93338 13.8408L6.99974 7.77441L13.0661 13.8408C13.1729 13.9476 13.3129 14.001 13.4529 14.001C13.5928 14.001 13.7328 13.9476 13.8396 13.8408C14.0532 13.6272 14.0532 13.2809 13.8396 13.0674L7.77319 7.001Z" fill="#3B48D1"/>
            </svg>
        </div>
    </div>

    <div class="menu__body">
        <div>
            <a href="javascript:void(0)">О сервисе</a>
        </div>
        <div>
            <a href="javascript:void(0)">Резюме</a>

            <div class="menu__submenu">
                <a href="javascript:void(0)">Создать самому онлайн</a>
                <a href="javascript:void(0)">Заказать резюме</a>
                <a href="javascript:void(0)" class="pro blue">Посмотреть примеры <span>pro</span></a>
            </div>
        </div>
        <div>
            <a href="javascript:void(0)">Услуги</a>

            <div class="menu__submenu">
                <a href="javascript:void(0)">Оценить свой опыт</a>
                <a href="javascript:void(0)">Резюме</a>
                <a href="javascript:void(0)">Сопроводительное письмо</a>
                <a href="javascript:void(0)">VIP - упаковка</a>
                <a href="javascript:void(0)">Найти вакансии</a>
                <a href="javascript:void(0)">Проверить свое резюме </a>
                <a href="javascript:void(0)">Подготовиться <br> к собеседованию</a>
            </div>
        </div>
        <div>
            <a href="javascript:void(0)">Блог</a>
        </div>
        <div>
            <a href="javascript:void(0)">Напишите нам</a>
        </div>
    </div>
</section>