@charset 'UTF-8';
@import 'mixins';

$trans: all .2s ease-in-out;
$caveat: 'Caveat', cursive;
$ubuntu: 'Ubuntu', sans-serif;

$blue: #3B48D1;
$light-blue: #F6F7FA;
$yellow: #F8DC82;
$red: #EB4F27;
$green: #4AD158;
$text: #2D3246;
$disable: #BBBFCF;

::selection {
	background: $blue;
	color: #fff;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #2D3246;
	font-size: 14px;
	line-height: 1.71;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
	margin-top: 0;
}

h1 {
	font-size: 72px;
	font-family: $ubuntu;
	margin-bottom: 30px;
}

h2 {
	font-size: 32px;
	font-family: $ubuntu;
	margin-bottom: 50px;
	line-height: 1.37;
	text-transform: uppercase;
}

h3 {
	font-size: 22px;
	font-family: $ubuntu;
}

h4 {
	font-size: 20px;
	font-family: $ubuntu;
}


.btn,
input,
textarea,
select,
button {
	&:focus {
		outline: none;
	}

	&::placeholder {
		color: $disable;
	}
}

.dropdown__trigger,
input,
textarea,
select {
	background: $light-blue;
	padding: 12px 10px;
	border-radius: 5px;
	border: 1px solid transparent;
	width: 100%;
	resize: none;
	transition: $trans;

	&:focus {
		border-color: $blue;
	}

	&.error {
		color: $red;
		border-color:$red;
	}

	&.white {
		background: #fff;
		border-color: #D0D6E5;
		color: #9699A7;
		
		&::placeholder {
			color: #D0D6E5;
		}

		&:focus {
			border-color: $blue;
		}
	
		&.error {
			border-color:$red;
		}
	}

	&.calendar {
		text-align: center;
		color: $blue;
	}
}

label {
	margin-bottom: 3px;
}

.form-group {
	a {
		display: inline-block;
		color: #9699A7;
		font-size: 12px;
		border-bottom: 1px solid #9699A7;
		margin-top: 10px;
		transition: $trans;

		&:hover {
			color: $blue;
			border-color: $blue;
		}
	}
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	display: inline-block;
	transition: $trans;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	padding: 15px 24px;
	background: $blue;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	font-weight: 700;

	&:focus {
		outline: none;
	}

	&:hover {
		background: #222FBA;
	}

	&.disabled,
	&[disabled] {
		background: $disable;
	}

	&.center {
		@include centerX;
	}

	&.mobile {
		@include r(767) {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			transform: none;
			left: initial;
			text-align: center;
		}
	}

	&-arrow {
		@include fcn;
		padding: 10px 30px;
		background: transparent;
		color: $text;
		line-height: 1.42;
		font-weight: 500;

		&:hover {
			background: #222FBA;
			color: #fff;

			path {
				fill: #fff;
			}
		}

		&.disabled,
		&[disabled] {
			background: transparent;
			color: $disable;
		}
		
		svg {
			margin-left: 20px;

			path {
				fill: $text;
				transition: $trans;
			}
		}
	}

	&-outline {
		background: transparent;
		color: $blue;
		border: 1px solid $blue;

		&:hover {
			background: $blue;
			color: #fff;
		}

		&.disabled,
		&[disabled] {
			background: transparent;
			color: $disable;
			border-color: $disable;
		}
	}

	&-white {
		background: #fff;
		color: $blue;
		padding: 18px 60px;

		&:hover {
			background: $yellow;
			color: $text;
		}

		&.disabled,
		&[disabled] {
			color: $yellow;
		}
	}
}

.container {
	@include r(1180) {
		padding: 0 20px;
	}

	max-width: 1140px;
	margin: 0 auto;
}

.delimiter {
	background: #D0D6E5;
}

.light-blue {
	background: $light-blue;
}

.direction {
	color: $blue;
	font-family: $caveat;
	font-size: 24px;

	img {
		margin-right: 10px;
	}

	&.right {
		svg {
			margin-left: 10px;
		}
	}
}

.title {
	@include fcn;
	margin-bottom: 60px;

	h2 {
		margin-right: 52px;
		margin-bottom: 0;
		white-space: nowrap;
	}

	div {
		font-size: 16px;
		line-height: 1.5;
		
		&.center {
			width: 100%;
			text-align: center;
		}
	}
}

.header {
	background: #fff;
	box-shadow: 0px 14px 40px -29px rgba(110, 115, 152, 0.12);
	padding: 20px 0;

	&.short {
		.container {
			@include fcc;
		}
	}

	.container {
		@include fcsb;
	}

	&__logo {
		font-family: $ubuntu;
		font-weight: bold;
		font-size: 24px;
		transition: $trans;
		letter-spacing: 0.05em;

		&:hover {
			color: $blue;
		}
	}

	.btn {
		padding: 8px 37px;
	}
}

.menu {
	a {
		font-size: 16px;
		margin: 0 15px;
		transition: $trans;

		&:hover {
			color: $blue;
		}
	}
}

.main {
	padding: 93px 0;

	.container {
		background: url('../img/icons.svg') no-repeat right center;	
	}

	h1 {
		letter-spacing: 0.05em;
		margin-bottom: 13px;
	}

	&__text {
		font-size: 16px;
		margin-bottom: 58px;
	}

	&__controls {
		@include fcn;

		.btn-arrow {
			margin-left: 10px;
			padding: 7px 30px 8px;
		}
	}
}

.services {
	padding: 168px 0 60px;

	&__flex {
		@include fssb;
	}

	&__tags {
		@include fsn;
		flex-wrap: wrap;
		margin: 0 -5px;
		width: 34%;
		position: relative;
		margin-right: 63px;

		.direction {
			position: absolute;
			right: 0;
			bottom: -20px;
			transform: translateY(100%);
		}
	}

	&__tag {
		font-weight: 500;
		padding: 4px 24px;
		display: inline-block;
		margin: 0 5px 13px;
		border: 1px solid #D0D6E5;
		border-radius: 50px;
		cursor: pointer;
		transition: $trans;
		letter-spacing: 0.05em;

		&:hover {
			background: lighten($yellow, 20%);
		}

		&.active {
			background: $yellow;
			border-color: transparent;
		}
	}

	&__list {
		width: 63%;
		margin: 0 -9px;
		flex-flow: column wrap;
		display: flex;
		align-content: space-between;
		height: 880px;

		&.block {
			width: 100%;
			flex-flow: initial;
			align-items: flex-start;
			height: auto;

			.services__item {
				width: calc(33.33% - 18px);

				&:hover {
					margin-bottom: -52px;
				}
			}
		}
	}

	&__item {
		background: $light-blue;
		padding: 18px 20px;
		border-radius: 10px;
		width: calc(50% - 18px);
		margin: 0 9px 20px;
		position: relative;
		transition: $trans;

		&.blue {
			background: $blue;
			color: #fff;
		}

		&.single {
			width: calc(33.33% - 18px);

			&.show-button {
				padding-bottom: 18px;
			}

			.btn {
				margin-top: 18px;
			}
		}

		.services__tag {
			padding: 0;
			border: 0;
			margin: 0;
			font-weight: 500;
			font-size: 16px;
			margin-bottom: 19px;
			cursor: initial;

			&:hover {
				background: transparent;
			}
		}

		&:hover {
			padding-bottom: 90px;

			.btn {
				opacity: 1;
				transition-delay: 100ms;
			}
		}

		&.show-button {
			padding-bottom: 90px;

			.btn {
				opacity: 1;
				transition-delay: 100ms;
			}
		}
	}

	.btn {
		width: 70%;
		padding: 14px 0;
		margin-top: 20px;
		position: absolute;
		transition: $trans;
		opacity: 0;
		text-align: center;
	}

	&__title {
		margin-bottom: 16px;
		line-height: 1.2;
	}

	&__text {
		margin-bottom: 15px;
		line-height: 1.2;
	}

	&__desc {
		color: #9699A7;
		font-size: 12px;
		line-height: 1.2;
		margin-top: 30px;
	}

	&__controls {
		margin-top: 30px;
		@include fcsb;
	}
}

.vip {
	padding: 168px 0 60px;

	.container {
		@include fssb;
	}

	&.bg {
		.container {
			background: url('../img/icons-line.svg') no-repeat left bottom;
			background-size: 27%;
		}
	}
}

.steps {
	padding: 34px 0 120px;

	.slider__navigation {
		.swiper-wrapper {
			height: auto !important;
			transform: none !important;
			display: block !important;
		}
	}
}

.slider {
	@include fnsb;

	&__navigation {
		width: 34.4%;
		margin-right: 63px;
		padding-left: 43px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 19px;
			background: $light-blue;
			width: 1px;
		}

		.slider__item {
			padding: 10px;
			border-radius: 5px;
			transition: $trans;
			margin-bottom: 13px;
			cursor: pointer;

			&:first-child .slider__title::after {
				content: '';
				position: absolute;
				left: -38px;
				top: -11px;
				width: 10px;
				height: calc(50% + 10px);
				background: #fff;
				z-index: 1;
			}

			&:last-child .slider__title::after {
				content: '';
				position: absolute;
				left: -38px;
				bottom: -11px;
				width: 10px;
				height: calc(50% + 10px);
				background: #fff;
				z-index: 1;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.swiper-slide-thumb-active {
				background: $light-blue;

				.slider__progress span {
					animation: progress 5s ease-in-out 0s;
				}

				.slider__progress,
				.slider__text {
					display: block;
				}

				.slider__title::before {
					width: 14px;
					height: 14px;
					background: $blue;
					left: -41px;
				}
			}
		}
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.33;
		margin-bottom: 9px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			left: -36px;
			top: 50%;
			transform: translateY(-50%);
			background: #D0D6E5;
			transition: $trans;
			z-index: 2;
		}
	}

	&__text {
		display: none;
	}

	&__progress {
		background: #D0D6E5;
		border-radius: 5px;
		width: 100%;
		height: 2px;
		position: relative;
		margin-top: 10px;
		display: none;

		span {
			position: absolute;
			top: 0;
			height: 2px;
			left: 0;
			background: $blue;
			width: 0;
		}

		&.start span {
			width: 100%;
		}
	}

	&__main {
		width: 60%;
		height: 585px;
		background: $light-blue;
		border-radius: 10px;
		position: relative;
		padding: 40px 40px 0;

		.slider__item {
			width: 100%;
			height: 100%;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: relative;

			&.active {
				display: block;
			}

			&.center {
				background-position: center;
			}
		}
	}

	&__controls {
		position: absolute;
		top: 20px;
		right: 20px;
		@include fcn;
	}

	&__arrow {
		width: 40px;
		height: 40px;
		@include fcc;
		border-radius: 50%;
		border: 1px solid $blue;
		margin: 0 20px;
		cursor: pointer;
		transition: $trans;

		path {
			fill: $blue;
			transition: $trans;
		}

		&:hover {
			background: $blue;

			path {
				fill: #fff;
			}
		}
	}

	&-horizontal {
		display: block;

		.swiper-wrapper {
			@include fen;
		}

		.slider__main {
			@include fen;
			white-space: nowrap;
			padding: 0;
			margin: 0 0 40px;
			overflow: visible;
			height: auto;
			width: 135%;
			min-height: 300px;

			.slider__item {
				display: block;
				width: 259px;
				margin-right: 35px;
				padding: 27px 10px 18px;
				background: #fff;
				flex-shrink: 0;
				border-radius: 10px;
				height: auto;
				transition: $trans;

				&.swiper-slide-active {
					background: $blue;
					color: #fff;
					padding: 40px 20px;
					width: 357px;

					.slider__title {
						letter-spacing: 1;
					}

					.slider__text {
						font-size: 15px;
						min-height: auto;
						line-height: 1.6;
						margin-bottom: 42px;
					}

					.direction {
						font-size: 24px;
						color: #fff;
						margin-bottom: 0;

						path {
							fill: #fff;
						}
					}

					.slider__company {
						font-size: 16px;
					}
				}
			}

			.slider__title {
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 11px;
				white-space: normal;
				letter-spacing: -0.05em;

				&::before {
					display: none;
				}
			}

			.slider__text {
				line-height: 1.54;
				display: block;
				white-space: normal;
				margin-bottom: 50px;
				font-size: 13px;
				min-height: 60px;
			}

			.direction {
				font-size: 20px;
				margin-bottom: 5px;
			}

			.slider__company {
				font-weight: 600;
				font-size: 12px;
			}
		}

		.slider__controls {
			position: relative;
			top: 0;
			left: 0;
			right: initial;
		}

		.slider__arrow {
			flex-shrink: 0;
			margin: 0 15px;

			&.prev {
				margin-left: 0;
			}

			&.next {
				margin-right: 51px;
			}
		}

		.slider__progress {
			display: block;
			margin: 0;

			&.active span {
				animation: progress 4.990s ease-in-out 0s;
			}
		}
	}
}

@keyframes progress {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

.reviews {
	padding: 100px 0;
	overflow: hidden;
	margin-top: 62px;

	h2 {
		margin-bottom: 33px;
	}
}

.experts {
	padding: 180px 0;

	&__list {
		@include flexlist(34px);
	}

	&__item {
		background: $light-blue;
		border-radius: 5px;
		@include flexitem(25%, 34px);
		@include fcc;
		height: 60px;

		img {
			pointer-events: none;
			user-select: none
		}
	}
}

.about {
	&__list {
		@include flexlist(36px);
	}

	&__item {
		@include flexitem(33.33%, 36px);
		@include fsn;
	}

	&__icon {
		@include fcc;
		width: 40px;
		height: 40px;
		border-radius: 2px;
		background: $light-blue;
		flex-shrink: 0;
		margin-right: 20px;

		img {
			pointer-events: none;
			user-select: none
		}
	}

	&__title {
		font-weight: bold;
		margin-bottom: 8px;
		line-height: 1.3;
	}

	&__text {
		font-size: 13px;
		line-height: 1.3;
	}
}

.questions {
	padding: 180px 0 100px;

	.container {
		@include fsn;

		& > div {
			width: 60%;
		}
	}

	h2 {
		width: 40%;
	}
}

.question {
	font-size: 18px;
	padding: 16px 0;
	border-bottom: 1px solid $light-blue;
	width: 100%;
	position: relative;
	cursor: pointer;
	transition: $trans;
	font-weight: 500;

	&:first-child {
		padding-top: 0;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 18px;
		height: 18px;
		background: url('../img/icons/plus.svg') no-repeat center;
		background-size: contain;
		transition: $trans;
	}

	&.active {
		margin-bottom: 20px;

		&::after {
			transform: translateY(-50%) rotate(45deg);
		}
	}
}

.answer {
	font-size: 16px;
	line-height: 1.5;
	transition: $trans;
	overflow: hidden;

	&:not(.active) {
		display: none;
	}
}

.callback {
	padding: 74px 0;

	.container {
		@include fnsb;

		& > div {
			background: url('../img/icons-left.svg') no-repeat left bottom;
			background-size: 58%;
		}
	}

	h2 {
		margin-bottom: 26px;
	}

	.subtitle {
		font-size: 16px;
	}

	form {
		width: 490px;
		padding: 40px 63px;
		border: 1px solid #D0D6E5;
		box-shadow: 0px 48px 40px -29px rgba(110, 115, 152, 0.12);
		border-radius: 20px;
	}

	.form-group {
		margin-bottom: 20px;
	}

	label {
		display: block;
		width: 100%;
	}

	textarea {
		height: 80px;
		margin-bottom: 16px;
	}

	.btn {
		margin-bottom: 10px;
		padding: 18px 50px;
	}

	span {
		display: block;
		width: 100%;
		text-align: center;
		color: #9699A7;
		font-size: 12px;
	}
}

.footer {
	padding: 43px 0;
	margin-top: 107px;
	border-top: 1px solid #F1F1F1;

	&__row {
		@include fssb;

		&:first-child {
			align-items: center;
			margin-bottom: 32px;
		}

		&:last-child {
			align-items: center;
		}
	}

	&__col {
		margin-bottom: 56px;

		& > a {
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 24px;
			display: inline-block;
		}

		&:last-child {
			text-align: right;

			ul {
				a {
					color: $blue;
					transition: $trans;
	
					&:hover {
						opacity: .7;
					}
				}
			}
		}
	}

	&__logo {
		font-family: $ubuntu;
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 0.05em;
	}

	&__copyright {
		color: #9699A7;
		font-size: 13px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	a {
		transition: $trans;

		&:hover {
			color: $blue;
		}
	}

	.disable {
		pointer-events: none;
		user-select: none;
		color: #BBBFCF;
	}

	&__menu {
		@include fcsb;
		width: 100%;

		a {
			font-size: 13px;
			color: #9699A7;
		}
	}

	&__social {
		@include fcn;
		flex-shrink: 0;
		margin-left: 77px;

		a {
			@include fcc;
			width: 32px;
			height: 32px;
			background: #F9F9F9;
			border-radius: 2px;
			margin: 0 17px;
			transition: $trans;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				background: $yellow;

				path {
					fill: $text;
				}
			}

			path {
				transition: $trans;
			}
		}
	}
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	opacity: 0;
	cursor: pointer;
	@include fcc;
	z-index: -1;
	transition: $trans;
	backdrop-filter: blur(6px);

	&.active {
		opacity: 1;
		z-index: 11;
	}
}

.modal {
	display: none;
	opacity: 0;
	background: #fff;
	cursor: default;
	position: relative;
	border-radius: 10px;

	&.active {
		display: block;
		opacity: 1;
	}

	&#changepassword,
	&#password {
		width: 670px;

		.modal__body {
			text-align: left;
		}

		.modal__text {
			span {
				font-style: italic;
				font-weight: 500;
			}
		}

		.form-group {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&#send {
		.modal__body {
			text-align: left;
		}
	}

	&#share {
		.modal__body {
			text-align: left;
		}

		.form-group {
			.flex {
				@include fcn;

				input {
					color: $blue;
					margin-right: -5px;
					padding-right: 15px;
				}

				.btn {
					height: 42px;
					padding-top: 0;
					padding-bottom: 0;
					@include fcn;
				}
			}
		}
	}

	&#subscribe {
		form {
			width: 357px;
			margin: 0 auto;

			button {
				margin-top: 20px;
				padding: 15px 35px;
			}
		}
	}

	&#create,
	&#wait {
		a:not(.btn) {
			color: $blue;
			text-transform: uppercase;
			font-weight: 600;
			margin-right: 89px;
			white-space: nowrap;
			transition: $trans;

			&:hover {
				color: #9699A7;
			}
		}
	}

	.services__item {
		margin: 0 auto;
		text-align: left;

		&:hover {
			padding-bottom: 18px;
		}

		.btn {
			width: 70%;
			text-align: center;
			margin-top: 20px;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__header {
		padding: 40px 60px 20px;
		border-bottom: 1px solid #EFEFEF;
	}
	
	&__title {
		margin-bottom: 15px;
		text-transform: initial;
	}

	&__text {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 30px;
	}
	
	&__body {
		padding: 50px 80px 50px;
		text-align: center;
	}

	.main__controls {
		margin-top: 40px;

		.btn {
			width: 60%;
			text-align: center;
		}

		.btn-arrow {
			width: initial;
			text-align: left;
		}
	}

	&__close {
		position: absolute;
		right: 30px;
		top: 30px;
		width: 18px;
		height: 18px;
		cursor: pointer;
		transition: $trans;
		background: url('../img/icons/plus.svg') no-repeat center;
		background-size: contain;
		transform: rotate(45deg);		
	}
}

.plans {
	margin-bottom: 30px;

	&__text {
		color: #9699A7;
		line-height: 1.71;
		margin-bottom: 10px;
	}

	&__list {
		@include fnc;
	}

	&__item {
		background: $light-blue;
		border-radius: 5px;
		font-size: 16px;
		padding: 10px 22px;
		transition: $trans;
		cursor: pointer;

		&.active {
			background: $blue;
			color: #fff;
		}

		div {
			font-weight: bold;
		}
	}
}

.account {
	padding: 100px 0;
	min-height: calc(100vh - 81px);

	&__header {
		@include fcsb;
		margin-bottom: 17px;

		h2 {
			margin-bottom: 0;
		}
	}

	.templates {
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 -17px -37px;

		&.active {
			display: flex !important;
		}
	}

	&__item {
		background: #FFFFFF;
		border-radius: 10px;
		padding: 35px 20px;
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}

		.account__header {
			margin-bottom: 34px;
	
			a {
				color: $blue;
				transition: $trans;
	
				&:hover {
					color: $text;
				}
			}
		}

		form {
			@include fssb;

			.account__desc {
				width: 100%;
				white-space: nowrap;
				align-self: flex-end;
				margin-bottom: 5px;
			}

			.form-group {
				width: 100%;
				margin: 0 22px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			[disabled] {
				color: $blue;
				pointer-events: none;
				text-align: center;
			}
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
	}

	&__version {
		@include fcn;

		& > a {
			flex-shrink: 0;
			margin-right: 76px;
			@include fcn;
			transition: $trans;
			font-size: 16px;

			&:hover {
				color: $blue;
			}

			img {
				margin-right: 10px;
			}
		}
	}

	&__footer {
		@include fcsb;
		margin-top: 23px;

		.btn {
			font-weight: normal;
			padding: 6px 55px;
			text-transform: initial;
		}
	}

	&__desc {
		color: #9699A7;
		font-size: 13px;
		line-height: 1.2;
	}
}

.dots {
	@include fcn;
	width: 100%;
	margin-top: -29px;
	margin-right: 8px;

	&__item {
		width: 100%;
		text-align: center;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 21px;
			left: 0;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: #BBBFCF;
			box-shadow: 0 0 0 8px rgba(#BBBFCF, .3);
		}

		&:last-child {
			&::after {
				content: '';
				position: absolute;
				top: 21px;
				right: 0;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: #BBBFCF;
				box-shadow: 0 0 0 8px rgba(#BBBFCF, .3);
			}
		}

		&.active {
			&::after,
			&::before {
				background: $blue;
				box-shadow: 0 0 0 8px rgba($blue, .3);
			}

			span {
				color: $blue;
			}
		}

		span {
			padding-bottom: 8px;
			border-bottom: 1px dashed #D0D6E5;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				right: -8px;
				bottom: -3px;
				width: 6px;
				height: 6px;
				background: url('../img/icons/dot-arrow.svg') no-repeat center;
				background-size: contain;
			}
		}
	}
}

.thumb {
	@include flexitem(25%, 34px);

	&__header {
		@include fssb;
	}

	&__name {
		@include fcn;
		font-weight: 600;
		font-size: 16px;
		margin-bottom: -2px;
	}

	&__date {
		font-size: 12px;
		margin-bottom: 11px;
		color: #9699A7;
	}

	&__img {
		width: 100%;
		margin-bottom: 4px;
	}

	&__edit {
		@include fcn;
		font-size: 16px;
		color: #9699A7;
		margin-bottom: 14px;
	}

	&__desc {
		background: #FFFFFF;
		border: 1px solid #D0D6E5;
		border-radius: 5px;
		color: #9699A7;
		padding: 12px 8px;
	}
}

.remove {
	cursor: pointer;
	margin-top: 4px;

	&:hover path {
		fill: $blue;
	}

	path {
		transition: $trans;
	}
}

.edit {
	padding: 10px;
	cursor: pointer;
	box-sizing: initial;
	margin-top: -10px;
	margin-bottom: -10px;

	&:hover path {
		fill: $blue;
	}

	path {
		transition: $trans;
	}
}

.tabs {
	width: 100%;
	border-bottom: 1px solid #D0D6E5;
	position: relative;
	margin-bottom: 47px;

	a {
		color: #D0D6E5;
		font-size: 16px;
		display: inline-block;
		margin-right: 70px;
		margin-bottom: 4px;
		transition: all .3s ease-in-out;

		&.active {
			font-weight: bold;
			color: $blue;
		}
	}

	.bar {
		position: absolute;
		bottom: -1px;
		left: 0;
		height: 2px;
		background: $blue;
		border-radius: 50px;
		transition: all .3s ease-in-out;
		width: 0;
	}
}

.tab {
	display: none;

	&.active {
		display: block;
	}
}

.blog {
	padding: 182px 0;

	&__list {
		@include flexlist(34px, 53px);
	}

	&__item {
		@include flexitem(33.33%, 34px, 53px);
		
		&:hover {
			.blog__image {
				background-size: 120%;
			}

			.blog__title {
				color: $blue;
			}
		}
	}

	&__image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		border-radius: 5px;
		margin-bottom: 30px;
		width: 100%;
		height: 250px;
		transition: all .6s ease-in-out;
	}

	&__category {
		@include fcn;
		margin-bottom: 20px;
		font-weight: 700;

		img {
			margin-right: 10px;
			user-select: none;
			pointer-events: none;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 10px;
		transition: $trans;
	}

	&__text {
		color: #9699A7;
	}
}

.contact {
	padding: 50px 0;

	& + .footer {
		margin-top: 180px;
	}

	h2 {
		margin-bottom: 27px;
	}

	&__text {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 50px;
		background: url('../img/icons-contact.svg') no-repeat right center;
		background-size: contain;
	}

	form {
		@include fssb;

		.form-group {
			width: 32%;

			input {
				background: #fff;
			}

			.btn {
				width: 100%;
				margin-top: 24px;
				margin-bottom: 10px;
    			padding: 13px 0 12px;
			}

			span {
				display: block;
				font-size: 12px;
				text-align: center;
				color: #9699A7;
				line-height: .8;

				a {
					transition: $trans;

					&:hover {
						color: $blue;
						border-color: transparent;
					}
				}
			}
		}
	}
}

.article {
	padding: 180px 0 100px;

	& + .blog {
		padding-top: 80px;
	}

	&__header {
		@include fcn;
		padding-bottom: 50px;
		margin-bottom: 50px;
		border-bottom: 1px solid #D0D6E5;
	}

	&__back {
		color: #9699A7;
		@include fcn;
		transition: $trans;
		margin-bottom: 25px;
		font-size: 12px;

		&:hover {
			color: $blue;

			path {
				fill: $blue;
			}
		}

		svg {
			user-select: none;
			pointer-events: none;
			margin-right: 10px;
		}

		path {
			fill: #9699A7;
			transition: $trans;
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__desc {
		font-size: 18px;
		line-height: 1.67;
		margin-bottom: 80px;
	}

	&__image {
		margin-left: 35px;
		flex-shrink: 0;
		border-radius: 10px;
		user-select: none;
		pointer-events: none;
	}

	&__body {
		font-size: 16px;
		line-height: 1.5;

		h3 {
			margin-top: 50px;
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 27px;
		}

		ul {
			padding-left: 15px;
			margin-bottom: 27px;
		}
	}
}

.author {
	@include fcn;

	&__photo {
		border-radius: 50%;
		margin-right: 20px;
		user-select: none;
		pointer-events: none;
	}

	&__name {
		font-weight: bold;
		font-size: 16px;
	}

	&__date {
		color: #9699A7;
	}
}

.tip {
	border: 1px dashed #3B48D1;
	border-radius: 10px;
	padding: 30px;
	margin: 50px 0;
}

.create {
	background: $light-blue;
	border-radius: 10px;
	padding: 40px 70px;
	margin-top: 100px;

	div {
		@include fesb;
	}
}

.template {
	padding: 121px 0;

	.title {
		@include fcsb;

		& > div {
			@include fsn;
		}

		.direction {
			color: #9699A7;
			text-align: right;
			@include fsn;
			margin-right: 25px;
			font-size: 20px;

			img {
				margin-left: 12px;
				user-select: none;
				pointer-events: none;
				margin-top: 10px;
			}
		}
	}

	&__list {
		@include flexlist(35px, 50px);
	}

	&__item {
		@include flexitem(25%, 35px, 50px);
		text-align: center;

		.btn {
			font-size: 14px;
			position: relative;
			z-index: 2;
			opacity: 0;
			transition: $trans;
			transform: translateY(-10px);
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	&__img {
		width: 100%;
		height: 348px;
		@include cover;
		@include fcc;
		position: relative;
		border-radius: 5px;
		cursor: pointer;
		margin-bottom: 20px;
		box-shadow: 0px 18px 30px -16px rgba(156, 164, 200, 0.5);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: #000;
			opacity: 0;
			transition: $trans;
			border-radius: 5px;
		}

		&:hover {
			box-shadow: none;

			.btn {
				opacity: 1;
				transform: translateY(0);
			}

			&::before {
				opacity: .35;
			}
		}
	}
}

.colors {
	@include fcc;

	&.left {
		@include fcs;
	}

	div {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
		transition: $trans;
		transform: scale(1);

		&:hover {
			transform: scale(1.15);
		}

		&.active {
			box-shadow: 0 0 0 3px $blue;
		}
	}
}

.files {
	margin-top: 16px;

	&__item {
		@include fcsb;
		font-size: 16px;
		font-weight: 600;

		& > div {
			@include fcn;

			img {
				margin-right: 14px;
			}
		}

		svg {
			cursor: pointer;

			&:hover path {
				fill: $blue;
			}

			path {
				transition: $trans;
			}
		}
	}
}

.examples {
	padding: 180px 0;

	&__item {
		border-radius: 10px;
		background: $light-blue;
		padding: 50px 40px;
		position: relative;
		overflow: hidden
	}

	&__header {
		@include fcsb;
	}

	&__body {
		@include fsn;

		img {
			margin-right: 35px;
			box-shadow: 0px 18px 30px -16px rgba(156, 164, 200, 0.5);
			border-radius: 5px;
			margin-bottom: 40px;
		}

		h4 {
			margin-top: 0;
			margin-bottom: 14px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	.direction {
		text-align: center;
		margin-top: 24px;
		line-height: 1.3;
	}
}

.search {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 357px;
	border-radius: 0px 10px 10px 0px;
	box-shadow: -18px 0px 28px -16px rgba(138, 144, 168, 0.33);
	background: $light-blue;
	padding: 40px 20px;
	transform: translateX(110%);
	transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

	&.active {
		transform: translateX(0);
	}

	& > .search__btn {
		margin-bottom: 20px;

		img {
			transform: rotate(180deg);
		}
	}

	.form-group {
		position: relative;
		margin-bottom: 20px;

		input {
			background: #fff;
			padding-right: 50px;
		}

		img {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%)
		}

		.simplebar-track {
			right: -16px;
		}
	}

	&__btn {
		@include fcn;
		transition: $trans;
		cursor: pointer;
		color: $blue;

		img {
			margin-right: 10px;
			transition: $trans;
		}

		&.active {
			img {
				transform: rotate(180deg);
			}
		}
	}

	&__list {
		height: calc(100% - 66px);
		padding-bottom: 30px;

		span {
			margin-bottom: 10px;
			display: block;
			color: #BBBFCF;
		}

		a {
			display: block;
			padding: 12px 14px;
			border-radius: 3px;
			transition: $trans;

			&:hover {
				background: #fff;
				color: $blue;
			}

			&.selected {
				background: #D0D6E5;
				font-weight: 700;

				&:hover {
					background: #D0D6E5;
					color: $text;
				}
			}
		}
	}
}

.simplebar-track {
	right: -2px;
}

.simplebar-scrollbar:before {
	background: #D0D6E5;
	opacity: 1 !important;
	width: 3px;
	border-radius: 100px;
}

.topbar {
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 3;

	.container {
		@include fcsb;
	}

	&__back {
		color: #9699A7;
		@include fcn;
		cursor: pointer;
		transition: $trans;

		&:hover {
			color: $blue;

			path {
				fill: $blue;
			}
		}

		svg {
			transform: rotate(90deg);
			margin-right: 14px;
			position: relative;
			top: 1px;
		}

		path {
			fill: #9699A7;
			transition: $trans;
		}
	}

	&__left {
		@include fcn;
	}

	&__controls {
		@include fcn;
	}

	&__arrow {
		@include fcc;
		width: 68px;
		height: 30px;
		transition: $trans;
		border: 1px solid #9699A7;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			background: $blue;
			border-color: $blue;

			path {
				fill: #fff;
			}
		}

		&.left {
			margin-right: 10px;
		}

		path {
			transition: $trans
		}
	}

	&__lang {
		@include fcn;
		margin-left: 20px;

		div {
			width: 68px;
			height: 30px;
			background: $light-blue;
			transition: $trans;
			@include fcc;
			cursor: pointer;
			
			&:first-child {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;

				&.active {
					margin-right: -4px;
					position: relative;
					z-index: 2;
				}
			}

			&:last-child {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;

				&.active {
					margin-left: -4px;
					position: relative;
					z-index: 2;
				}
			}

			&.active {
				background: $blue;
				color: #fff;
				border-radius: 5px;
			}
		}
	}
	
	&__template {
		@include fcc;
		cursor: pointer;
		height: 30px;
		padding-left: 10px;
		padding-right: 10px;
		transition: $trans;
		border-radius: 5px;

		&:hover {
			color: #fff;
			background: $blue;

			path {
				fill: #fff;
			}
		}

		&.active {
			background: $yellow;
			color: #fff;

			path {
				fill: #fff;
			}
		}

		svg {
			margin-right: 15px;

			path {
				transition: $trans
			}
		}
	}

	&__right {
		@include fcn;

		.btn {
			height: 39px;
			@include fcc;
			color: #8388C0;
			border-color: #8388C0;
			font-weight: 600;
			margin-right: 60px;

			&:hover {
				color: #fff;
			}
		}
	}

	&__close {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #E2E4F8;
		@include fcc;
		cursor: pointer;
		transition: $trans;

		&:hover {
			background: $blue;

			path {
				fill: #fff;
			}
		}

		path {
			transition: $trans
		}
	}
}

.download {
	@include fcn;

	&.active .download__list {
		transform: translateY(100%);
		opacity: 1;
		pointer-events: all;
	}

	.btn {
		font-weight: 500;
		font-size: 13px;
		height: 36px;
		@include fcc;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	&__menu {
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		transition: $trans;
		background: $blue;
		height: 36px;
		@include fcc;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-left: 1px solid rgba(255,255,255,.5);
		position: relative;

		&:hover {
			background: #222FBA;
		}
	}

	&__list {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translateY(110%);
		opacity: 0;
		transition: $trans;
		white-space: nowrap;
		padding: 20px 0 0;
		background: #FFFFFF;
		border-radius: 5px;
		box-shadow: 0px 7px 20px -9px rgba(110, 115, 152, 0.25);
		pointer-events: none;

		a {
			display: block;
			@include fcn;
			transition: $trans;
			padding: 8px 10px;

			&:hover {
				background: #f6f7fa;
			}

			img {
				margin-right: 5px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.constructor {
	&.active {
		.sidebar {
			transform: translateX(0);

			.sidebar__trigger img {
				left: 0;
				transform: rotate(0deg);
			}
		}

		.container::before {
			transform: translateX(0)
		}
	}
	.container {
		@include fssb;
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			background: #F6F7FA;
			right: 0;
			top: 0;
			bottom: 0;
			width: 31%;
			transition: $trans;
			transform: translateX(87%);
		}
	}

	&__body {
		width: 61.5%;
		padding: 31px 0;
	}

	&__name {
		@include fcc;
		text-align: center;
		margin-bottom: 8px;

		h3 {
			margin-bottom: 0;
			margin-right: 15px;
		}

		.edit {
			margin-top: -7px;
		}
	}

	&__subtitle {
		text-align: center;
		margin-bottom: 40px;
		line-height: 1.2;
	}

	&__person {
		@include fssb;
	}

	&__photo {
		margin-left: 84px;
		margin-top: 27px;

		img {
			pointer-events: none;
			user-select: none;
		}
	}

	&__upload {
		@include fcc;
		cursor: pointer;
		transition: $trans;
		margin-top: 5px;

		svg {
			margin-left: 15px;
			cursor: pointer;

			&:hover path {
				fill: $blue;
			}

			path {
				transition: $trans;
			}
		}
	}

	&__item {
		width: 100%;
		margin-bottom: 50px;

		.form-group {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	label {
		@include fcsb;

		svg {
			cursor: pointer;

			&:hover path {
				fill: $blue;
			}

			path {
				transition: $trans;
			}
		}
	}

	&__title {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 9px;
		@include fcsb;
	}

	&__desc {
		@include fcsb;
		margin-bottom: 19px;
		color: #9699A7;

		svg {
			margin-left: 44px;
			flex-shrink: 0;
			cursor: pointer;

			&:hover path {
				fill: $blue;
			}

			path {
				transition: $trans;
			}
		}
	}

	.flex {
		@include fssb;

		& > input,
		& > div {
			width: 48%;
		}

		.form-group {
			margin-bottom: 15px;
		}

		& > .form-group {
			width: 31%;
		}
	}

	&__plus {
		padding: 12px;
		color: $blue;
		background: $light-blue;
		border-radius: 5px;
		transition: $trans;
		display: inline-block;
		cursor: pointer;
		font-weight: 500;
		cursor: pointer;

		&.pro {
			color: $text;
			position: relative;
			padding-right: 40px;
			margin-top: 20px;

			span {
				background: $green;
				padding: 0 10px;
				border-radius: 50px;
				font-family: $ubuntu;
				font-size: 12px;
				font-weight: 500;
				color: #fff;
				text-transform: uppercase;
				display: inline-block;
				margin-left: 5px;
				transition: $trans;
			}

			svg {
				right: 15px;
				@include centerYa;
			}
		}

		&:hover {
			background: $blue;
			color: #fff;

			path {
				fill: #fff;
			}

			span {
				background: #fff;
				color: $blue;
			}
		}

		svg {
			margin-left: 11px;
			position: relative;
			top: 2px;

			path {
				transition: $trans;
			}
		}
	}

	&__icons {
		margin-bottom: 50px;

		.constructor__title {
			margin-bottom: 15px;
		}

		.list {
			display: flex;
			flex-wrap: wrap;

			.item {
				width: 48%;
				@include fcn;
				margin-bottom: 20px;

				.img {
					margin-right: 20px;
					min-width: 25px;
					@include fcc;
				}

				&.disable {
					color: #9699A7;

					path {
						fill: #9699A7;
					}
				}
			}
		}
	}
}

.skills {
	@include fsn;
	flex-wrap: wrap;
	margin: 0 -5px -10px;
	margin-bottom: 20px;

	& > div {
		padding: 13px 20px;
		margin: 0 5px 10px;
		background: $light-blue;
		font-weight: 600;
		border-radius: 5px;
	}

	&__add {
		background: $light-blue;
		border-radius: 5px;
		padding: 10px 20px;
		margin-top: 20px;
		min-height: 250px;
	}

	&__header {
		font-weight: 600;
		font-style: italic;
		@include fcn;
		line-height: 1.2;
		margin-bottom: 19px;

		img {
			margin-left: 8px;
		}
	}

	&__search {
		input {
			background: #fff;
			padding-right: 40px;
		}

		.form-group {
			position: relative;
			width: 357px;

			svg {
				position: absolute;
				top: 12px;
				right: 10px;

				path {
					fill: $blue;
				}
			}
		}

		.skills {
			margin-top: 16px;
			margin-bottom: 5px;

			div {
				background: #fff;
			}
		}
	}

	&__text {
		margin-bottom: 7px;
	}

	&__dropdown {
		position: absolute;
		bottom: -5px;
		left: 0;
		right: 0;
		transform: translateY(110%);
		background: #fff;
		border-radius: 5px;
		box-shadow: 0px 11px 16px -9px rgba(110, 115, 152, 0.32);
		max-height: 143px;
		opacity: 0;
		transition: $trans;
		pointer-events: none;

		&.active {
			transform: translateY(100%);
			opacity: 1;
			pointer-events: all;
		}

		a {
			display: block;
			color: $text;
			font-size: 14px;
			border: 0;
			padding: 3px 10px;
			transition: $trans;

			&:hover {
				background: #E2E4F8;
				color: $blue;
			}

			strong {
				font-weight: 600;
			}
		}
	}

	&__more {
		color: #9699A7;
		border-bottom: 1px solid;
		display: inline-block;
		margin-bottom: 3px;
		margin-top: -10px;
		transition: $trans;

		&:hover {
			border-color: transparent;
			color: $blue;
		}
	}
}

.more {
	& + .constructor__plus {
		margin-top: 20px;
	}

	&__trigger {
		color: $blue;
		font-weight: 600;
		@include fcn;
		cursor: pointer;
		transition: $trans;

		&:hover {
			opacity: .8;
		}

		img {
			margin-left: 12px;
			transition: $trans;
		}

		&.active img {
			transform: rotate(180deg);
		}
	}

	&__body {
		overflow: hidden;
		padding-top: 20px;

		&:not(.active) {
			display: none;
		}
	}
}

.editor {
	position: relative;

	&__header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		@include fcsb;
		padding: 6px 15px;
	}

	&__btn {
		margin-right: 20px;
		@include fcc;
		cursor: pointer;

		&:hover path[fill] {
			fill: $blue;
		}

		path[fill] {
			transition: $trans
		}
	}

	&__left {
		@include fcn;
	}

	&__right {
		@include fcn;
		color: $blue;
		font-weight: 500;
		cursor: pointer;

		svg {
			margin-left: 10px;
		}
	}

	textarea {
		height: 100px;
		padding-top: 40px;
	}

	&__divider {
		width: 1px;
		height: 20px;
		background: #D0D6E5;
		margin: 0 14px 0 -7px;
	}
}

.sidebar {
	width: 31% !important;
	background: #F6F7FA;
	height: 100%;
	padding: 30px 10px;
	position: relative;
	z-index: 2;
	transition: $trans;
	transform: translateX(100%);

	&.static {
		transform: none;
	}

	&__name {
		text-transform: uppercase;
		font-family: $ubuntu;
		font-weight: 700;
		margin-bottom: 10px;
		text-align: center;
	}

	&__desc {
		line-height: 1.2;
		color: #9699A7;
		text-align: center;
		margin-bottom: 20px;
	}

	&__item {
		background: #FFFFFF;
		border-radius: 5px;
		padding: 24px 10px;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		@include fcn;
		font-weight: 600;
		margin-bottom: 14px;

		img {
			margin-right: 14px;
			pointer-events: none;
			user-select: none;
		}
	}

	&__trigger {
		margin-bottom: 37px;
		cursor: pointer;
		@include fcn;
		margin-left: -25px;
		color: #9699A7;
		transition: $trans;

		&:hover {
			color: $text;
		}

		img {
			margin-right: 14px;
			position: relative;
			left: -45px;
			transition: $trans;
			transform: rotate(180deg);
		}
	}

	&__process {
		@include fcsb;
		color: $blue;
		padding-bottom: 14px;
		border-bottom: 2px solid #D0D6E5;
		position: relative;
		margin-bottom: 30px;

		strong {
			font-size: 13px;
			text-transform: uppercase;
			color: $text;
		}

		.b {
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 30%;
			height: 2px;
			background: $blue;
		}
	}

	&__text {
		font-size: 12px;
		color: #9699A7;
		margin-bottom: 10px;
	}

	.help {
		margin-top: 30px;
	}
}

.form-group.radio {
	margin-bottom: 4px;

	input {
		display: none;

		&:checked + label {
			background: #D0D6E5;

			&::after {
				transform: translateY(-50%) scale(1);
			}
		}
	}

	label {
		padding: 13px 40px;
		font-weight: 600;
		background: #E6EAF5;
		border-radius: 5px;
		position: relative;
		transition: $trans;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 10px;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			border: 2px solid #3B48D1;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%) scale(0);
			left: 15px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $blue;
			transition: $trans;
			transform-origin: 50% 50%;
		}
	}
}

.help {
	&__header {
		@include fcsb;
		margin-bottom: 15px;

		& > div {
			@include fcn;
			font-family: $ubuntu;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;

			svg {
				margin-right: 15px;
				cursor: pointer;

				&:hover path {
					fill: $blue;
				}

				path {
					transition: $trans;
				}
			}
		}
	}

	&__close {
		cursor: pointer;

		svg {
			margin-right: 0 !important;

			path {
				fill: #D0D6E5;
			}
		}

		&:hover path {
			fill: $blue;
		}
	}

	&__text {
		padding-left: 10px;
		border-left: 2px solid $blue;
	}
}

.exx {
	width: 455px;
	height: 368px;
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%) translateY(20px);
	background: #fff;
	z-index: 2;
	box-shadow: 0px 8px 20px -9px rgba(110, 115, 152, 0.51);
	border-radius: 5px;
	opacity: 0;
	transition: $trans;
	pointer-events: none;

	&.active {
		transform: translateX(-50%) translateY(0);
		opacity: 1;
		pointer-events: all;
	}
	
	&__header {
		position: relative;
		border-bottom: 1px solid #D0D6E5;

		img {
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
		}
		
		input {
			background: #fff;
			padding-left: 40px;
			border-radius: 0;
		}
	}

	&__body {
		height: calc(100% - 63px);
	}

	&__item {
		@include fsn;
		font-size: 12px;
		cursor: pointer;
		transition: $trans;
		padding: 10px;

		&:hover {
			background: #f6f7fa;
		}

		&:last-child {
			margin-bottom: 0;
		}

		img {
			margin-right: 6px;
		}
	}
}

.dropdown {
	position: relative;

	&__trigger {
		height: 44px;
		@include fcsb;
		padding-top: 0;
		padding-bottom: 0;
		color: $blue;
		cursor: pointer;

		img {
			transition: $trans;
		}

		&.active img {
			transform: rotate(180deg);
		}
	}

	&__list {
		position: absolute;
		bottom: -5px;
		left: 0;
		right: 0;
		height: 143px;
		transition: $trans;
		background: $light-blue;
		border-radius: 5px;
		transform: translateY(110%);
		opacity: 0;
		pointer-events: none;
		box-shadow: 0px 11px 16px -9px rgba(110, 115, 152, 0.32);

		&.active {
			opacity: 1;
			pointer-events: all;
			transform: translateY(100%);
		}

		a {
			display: block;
			width: 100%;
			padding: 1px 14px;
			border: 0;
			color: $text;
			font-size: 14px;
			transition: $trans;

			&:hover {
				background: #E2E4F8;
			}
		}
	}
}

.change {
	.container {
		@include fssb;
		position: relative;
		height: 122vh;

		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 50%;
			background: #444857;
		}

		& > div {
			width: 50%;
			position: relative;
			z-index: 2;
			height: 100%;
		}
	}

	.simplebar-track {
		right: initial;
		left: 2px;
	}

	&__left {
		padding: 50px 0;

		img {
			box-shadow: 0px 18px 30px -16px rgba(156, 164, 200, 0.5);
			border-radius: 5px;
			margin-bottom: 40px;
			pointer-events: none;
			user-select: none;
			display: block;
		}
	}

	.template__list {
		background: #444857;
		@include flexlist(63px , 40px);
		color: #fff;
		padding: 30px 35px;

		.template__item {
			@include flexitem(50%, 63px , 40px);

			.template__img {
				border: 4px solid #444857;
				transition: $trans;
				height: 290px;
				box-shadow: none;
				border-radius: 5px;

				&.active {
					border-color: $blue;
	
					img {
						transform: scale(1);
					}
				}

				&::before {
					display: none !important;
				}

				img {
					transform: scale(0);
					transition: $trans;
				}
			}
		}
	}

	&__navigation {
		display: inline-block;
		@include centerX;
		background: #2D3246;
		color: #fff;
		padding: 6px 15px;
		border-radius: 5px;

		svg {
			display: inline-block;

			path {
				fill: #fff;
			}
		}

		div {
			display: inline-block;
		}
	}

	&__arrow {
		position: relative;
		top: -2px;
		margin: 0 3px;
		cursor: pointer;

		&.disable {
			opacity: .5;
		}

		&-left {
			transform: rotate(90deg);
		}

		&-right {
			transform: rotate(-90deg);
		}
	}
}

section.short {
	padding: 40px;
	text-align: center;

	img {
		box-shadow: 0px 18px 30px -16px rgba(156, 164, 200, 0.5);
		border-radius: 5px;
	}
}

.share {
	position: relative;

	&.active .download__list {
		transform: translateY(100%);
		opacity: 1;
		pointer-events: all;
	}

	& > a {
		height: 39px;
		padding-top: 0;
		padding-bottom: 0;
		@include fcc;

		&:hover path {
			fill: #fff;
		}

		svg {
			margin-left: 10px;
			transition: $trans;

			path {
				transition: $trans;
			}
		}
	}
}

.preview {
	.container {
		&::before {
			background: $light-blue;
			width: 31%;
		}
	}

	.change__left {
		width: 69% !important;
		
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.colors {
		div {
			width: 32px;
			height: 32px;
		}
	}
}

.noUi-horizontal {
	height: 2px;
	border: 0;
	background: #D0D6E5;
}

.noUi-handle {
	width: 26px !important;
    height: 26px !important;
    border-radius: 50%;
    box-shadow: none;
    border: 7px solid $blue;
	top: -12px !important;
	right: -13px !important;

	&::before,
	&::after {
		display: none !important;
	}
}

.noUi-connect {
	background: $blue;
}

.range {
	position: relative;
	padding-bottom: 30px;

	& + .sidebar__title {
		margin-top: 20px;
	}

	&__left {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 10px;
		color: #9699A7;
	}

	&__right {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 10px;
		color: #9699A7;
	}
}

.counter {
	@include fcsb;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	&__controls {
		@include fcc;
		background: $light-blue;
		border-radius: 5px;
	}

	&__left {
		height: 37px;
		@include fcc;
		padding: 0 13px;
		cursor: pointer;

		svg {
			transform: rotate(90deg);

			path {
				transition: $trans;
				fill: #9699A7;
			}
		}
	}

	&__num {
		color: $blue;
		min-width: 20px;
		text-align: center;
	}

	&__right {
		height: 37px;
		@include fcc;
		padding: 0 13px;
		cursor: pointer;

		svg {
			transform: rotate(-90deg);

			path {
				transition: $trans;
				fill: #9699A7;
			}
		}
	}
}

.social {
	@include fcn;
	margin-top: 30px;

	a {
		margin-right: 13px;

		&:last-child {
			margin-right: 0;
		}

		&:hover path:not([fill="white"]) {
			fill: $blue;
		}
		
		path:not([fill="white"]) {
			transition: $trans;
		}
	}
}

.send {
	@include fcsb;

	&__left {
		text-align: center;
		margin-right: 30px;

		img {
			max-height: 232px;
			box-shadow: 0px 13px 23px -12px rgba(110, 115, 152, 0.24);
			border-radius: 5px;
			margin-bottom: 16px;
			display: block;
		}

		a {
			color: #D0D6E5;
			font-family: $ubuntu;
			font-weight: 700;
			font-size: 20px;
			transition: $trans;

			&:hover {
				color: $blue;
			}
		}
	}

	&__right {
		margin-top: 30px;

		.btn {
			margin-top: 40px;
			padding: 15px 50px;
		}
	}
}